.isloading {
  position: fixed;
  top: 25%;
}
.error-login {
  color: red;
  margin: 10px;
}
.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffffc7;
  z-index: 1;
}
.box-resendCode {
  display: flex;
  justify-content: space-between;
}

.text-center {
  text-align: center;
}
.flex-menu-login-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flex-menu-logout-mobile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.select-ant {
  .ant-select-selector {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.15),
      rgba(255, 255, 255, 0)
    );
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    --animate-duration: 1s;
    --animate-delay: 1s;
    --animate-repeat: 1;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    overflow: visible;
    box-sizing: border-box;
    margin: 0;
    padding: 4px 11px;
    color: rgba(0, 0, 0, 0.88);
    list-style: none;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
      "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    position: relative;
    display: flex;
    min-width: 0;
    background-color: #ffffff;
    background-image: none;
    transition: all 0.2s;
    border: 1px solid #e0e6f7;
    border-radius: 4px;
    box-shadow: none;
    padding-left: 20px;
    width: 100%;
    height: 53px;
    line-height: 53px;
    font-size: 14px;
    text-overflow: ellipsis;
  }
}
